.appbar{
	padding:20px;
}
.appbar__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.appbar__inner img{
	width:100%;
	height:100%;
	max-width:85px;
	max-height:30px;
	object-fit: contain;
}
.appbar__menus{
	display: flex;
	gap: 16px;
}
.appbar__menus a{
    color:var(--lightGrey);
    font-weight: 500;
}
.appbar__menus a.active{
    color:var(--darkBlack);
}
